# Copyright 2024 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: "Wave GPU CI"

on:
  workflow_dispatch:
  pull_request:
      types: [opened, synchronize, ready, ready_for_review, converted_to_draft]
  push:
    branches:
      - main

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    name: "${{ matrix.os }} :: ${{ matrix.version }} :: Integration Tests"
    strategy:
      fail-fast: false
      matrix:
        version: [3.11]
        os: [linux-mi325-1gpu-ossci-iree-org] # nodai-amdgpu-mi250-x86-64
    runs-on: ${{matrix.os}}
    timeout-minutes: 60
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    env:
      VENV_DIR: ${{ github.workspace }}/.wave-venv

    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: "Setting up Python"
        id: setup_python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{matrix.version}}
          cache: 'pip'

      - name: Create Python venv
        run: |
          python -m venv ${VENV_DIR}
          source ${VENV_DIR}/bin/activate
          echo VIRTUAL_ENV=$VIRTUAL_ENV >> "$GITHUB_ENV"
          echo "$VENV_DIR/bin" >> "$GITHUB_PATH"

      - name: "Setting up Rust"
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable

      - name: Install pip deps (mi250/mi325)
        run: |
          python -m pip install --upgrade pip
          pip install -r pytorch-rocm-requirements.txt
          pip install -r requirements-iree-pinned.txt --upgrade
          pip install -r requirements.txt -e .

      - name: Test TKW runtime related stack on amdgpu
        run: |
          export WAVE_CACHE_DIR=$PWD/.wave
          rm -rf ./.wave
          WAVE_CACHE_ON=1 pytest --timeout=300 --capture=tee-sys -vv --run-e2e --durations=100 ./tests/kernel/runtime

      - name: Run e2e tests on AMD GPU
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          WAVE_CACHE_ON=0 pytest -n 4 --timeout=300 --capture=tee-sys -vv --run-e2e --durations=100 ./tests/kernel/

      - name: Run expensive e2e tests on AMD GPU
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          WAVE_CACHE_ON=0 pytest -n 4 --timeout=600 --capture=tee-sys -vv --run-e2e --run-expensive-tests --durations=100 ./tests/kernel/
