# Copyright 2025 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: happy - CI

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  happy-set-env:
    runs-on: ['self-hosted', 'Linux', 'X64', 'rdna4']
    env:
      VENV_DIR: /home/user/.venvs/happy-test/

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: setup python
        id: setup_python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.11"

      # 0. load happy image from local tar
      - name: Load image
        run: |
          RUNNER_BASE="$(dirname $RUNNER_WORKSPACE)"
          docker load -i "$RUNNER_BASE/../docker-images/ci-gfx1250.tar"

      # 1. long-live happiness
      - name: Start happy container from image
        run: |
          HOST_UID=$(id -u)
          HOST_GID=$(id -g)
          docker run -d \
            --name happy \
            -v "${PWD}:/workspace" \
            --network=host \
            --ipc=host \
            --device=/dev/kfd \
            --device=/dev/dri \
            --group-add video \
            --cap-add=SYS_PTRACE \
            -p8000:8000 -p18000:18000 \
            --security-opt seccomp=unconfined \
            -w /workspace \
            -e HOST_UID=$HOST_UID \
            -e HOST_GID=$HOST_GID \
            ci-gfx1250:latest \
            sleep infinity

      - name: Debug
        run: |
          docker exec \
            -e VENV_DIR="${VENV_DIR}" \
            happy bash -lc '
              set -eux
              ls -l "${VENV_DIR}/bin"
              echo "python  -> $(command -v python || echo not found)"
              echo "python3 -> $(command -v python3 || echo not found)"
            '

      # 2. wave-env
      - name: Setup venv, Rust and Python deps
        run: |
          docker exec \
            -e VENV_DIR="${VENV_DIR}" \
            happy bash -lc '
              set -euxo pipefail
              source /entrypoint.sh >/dev/null 2>&1
              source "${VENV_DIR}/bin/activate"

              echo "Install Rust via rustup.sh"
              curl --proto "=https" --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
              export CARGO_HOME="$HOME/.cargo"
              export PATH="$CARGO_HOME/bin:$PATH"

              echo "Install pip deps"
              python3 -m pip install --no-compile --upgrade pip

              # Install wave deps
              pip install --no-cache-dir -r requirements-iree-pinned.txt --upgrade
              pip install -r requirements.txt .

            '

      # 3. check GPU arch
      - name: Check Arch (gfx1250)
        run: |
          docker exec \
            -e VENV_DIR="${VENV_DIR}" \
            happy bash -lc '
              set -euxo pipefail
              .github/workflows/setup-happy.sh

              echo "Check Arch after python3 installation"
              x=$("${VENV_DIR}"/bin/python -c "import torch;print(torch.cuda.get_device_properties())")
              echo "$x" | grep "gfx1250"
              y=$?
              if [ "$y" -ne 0 ]; then
                echo "Expecting gfx1250, got"
                echo "$x"
                exit 1
              fi
            '

      # 4. unit test
      - name: Run unit tests
        run: |
          docker exec \
            -e VENV_DIR="${VENV_DIR}" \
            happy bash -lc '
              set -euxo pipefail
              .github/workflows/setup-happy.sh
              pytest -n 4 --capture=tee-sys -vv ./tests/kernel/wave/
            '

      # 5. TKW runtime related e2e
      - name: Run TKW runtime e2e tests
        run: |
          docker exec \
            -e VENV_DIR="${VENV_DIR}" \
            happy bash -lc '
              set -euxo pipefail
              .github/workflows/setup-happy.sh
              echo "Test TKW runtime related stack on amdgpu"
              export WAVE_CACHE_DIR=$PWD/.wave
              rm -rf ./.wave
              nproc
              WAVE_CACHE_ON=1 pytest --timeout=300 --capture=tee-sys -vv --run-e2e --durations=100 ./tests/kernel/wave/runtime
              '

              # 6. cheap e2e
      - name: Run less expensive e2e tests
        run: |
          docker exec \
          -e VENV_DIR="${VENV_DIR}" \
          happy bash -lc '
            set -euxo pipefail
            .github/workflows/setup-happy.sh
            echo "Run less expensive e2e"
            WAVE_CACHE_ON=0 pytest -n 1 --timeout=300 --capture=tee-sys -vv --run-e2e --durations=100 ./tests/kernel/wave/
            '

      # 7. expansive e2e
      - name: Run expensive e2e tests
        run: |
          docker exec \
          -e VENV_DIR="${VENV_DIR}" \
            happy bash -lc '
              set -euxo pipefail
              .github/workflows/setup-happy.sh
              echo "Run expensive e2e tests"
              WAVE_CACHE_ON=0 pytest -n 1 --timeout=600 --capture=tee-sys -vv --run-e2e --run-expensive-tests --durations=100 ./tests/kernel/wave/
            '

      # 8. lit tests
      - name: Run lit tests
        run: |
          docker exec \
          -e VENV_DIR="${VENV_DIR}" \
            happy bash -lc '
              set -euxo pipefail
              .github/workflows/setup-happy.sh
              lit lit_tests/ -v
            '

      # 9. fix permission
      - name: Clean up happy container - 0
        if: always()
        run: |
          docker exec happy bash -lc '
            set -eux
            chown -R "$HOST_UID:$HOST_GID" /workspace
          '

      # 10. final cleanup container
      - name: Clean up happy container - 1
        if: always()
        run: |
          docker stop happy && docker rm -f happy || true

