# Copyright 2024 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    name: "${{ matrix.name }} :: ${{ matrix.version }} :: Unit Tests and Type Checking"
    strategy:
      fail-fast: false
      matrix:
        name: [ubuntu-24.04]
        version: ["3.10", "3.11", "3.12", "3.13"]
        runs-on: [ubuntu-24.04]

    runs-on: ${{matrix.runs-on}}
    timeout-minutes: 60
    env:
      VENV_DIR: ${{ github.workspace }}/.wave-venv
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: "Setting up Rust"
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable

      - name: "Install dwarfdump"
        run: |
          sudo apt-get update
          sudo apt-get install -y dwarfdump

      - name: "Setting up Python"
        id: setup_python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{matrix.version}}

      - name: Create Python venv
        run: |
          python -m venv ${VENV_DIR}
          source ${VENV_DIR}/bin/activate
          echo VIRTUAL_ENV=$VIRTUAL_ENV >> "$GITHUB_ENV"
          echo "$VENV_DIR/bin" >> "$GITHUB_PATH"

      - name: Install pip deps
        run: |
          python -m pip install --no-compile --upgrade pip
          # Note: We install in three steps in order to satisfy requirements
          # from non default locations first. Additionally, installing
          # cpu/rocm-specific pytorch wheels first avoids installing
          # unnecessary libraries included in default pytorch.
          pip install -r pytorch-cpu-requirements.txt
          pip install -r requirements-iree-pinned.txt
          pip install -r requirements.txt -e .

      - name: Run unit tests
        run: pytest -n 4 --capture=tee-sys -vv ./tests/kernel/wave/

      - name: Run LIT tests
        run: WAVE_TEST_DWARFDUMP=1 lit lit_tests/ -v

      - name: MyPy Type Checking
        run: mypy
